---
export interface Props {
	title: string;
  subtitle?: string;
	body: string;
  body2?: string;
	link?: string;
}


const { link, title, subtitle, body, body2 } = Astro.props;
---

<li class="link-card bg-indigo">
	<a href={link}>
		<h2 class="block text-xl m-0 opacity-80">
			{title}
		</h2>
    <h3 class="block uppercase text-lg mt-1.5">
			{subtitle}
		</h3>
		<p class="mt-1 mb-0 opacity-80">
			{body}
		</p>
    <p class="mt-1 mb-0 opacity-80">
			{body2}
		</p>
  </a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		border-radius: 0.5rem;
		background-position: 100%;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    color: #d1d5db;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
	
	}

	.link-card:is(:hover, :focus-within) {
		transform: scale(1.1);
	}

  .link-card:is(:hover, :focus-within) h2 {
		opacity: 100%;
	}
</style>
