---
export interface Props {
	title: string;
  description: string;
  link: string;
}

const { title,  description, link } = Astro.props;

function getRandomGradient() {
  const randomColor1 = `rgb(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)})`;
  const randomColor2 = `rgb(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)})`;
  return `linear-gradient(90deg, ${randomColor1} 24%, ${randomColor2} 71%)`;
}

const randomGradient = getRandomGradient();
---
<li class="mt-4 bg-slate rounded-md">
  <a href={link} class="p-2 w-full flex gap-4 items-center	">
    <span class="icon w-10 h-10 shrink-0" style={`background: ${randomGradient};`}></span>
    <div class="shrink">
      <p class="text-lg">{title}</p>
      <p class="opacity-80">{description}</p>
    </div>
  </a>
</li>
