---
import LinkCard from './LinkCard.astro';
import ListLinkCard from './ListLinkCard.astro';

const workExperience = [
  {
    title:"Schoolhouse Electric",
    subtitle:"Software Engineer, April ‘22 - Present",
    body:"Supported e-commerce side of the business. Used Shopify as the platform with a Node.js base. Developed features, fixed bugs, and worked with other business processes using Boomi."
  },
  {
    title:"Fast Enterprises",
    subtitle:"Tech Team Member, Jun ‘19 – Mar ‘22",
    body:"Provided application support through developing in VB.NET and tuning SQL, configured application security, and co-developed OR law enforcement data interface."
  },
  {
    title:"Steward Observatory",
    subtitle:"Software Developer Intern, May ‘17 - Jun ‘19",
    body:"Worked with MagAO-X software library in C++ and built applications for detector image analysis and monitoring system usage statics for optics systems."
  }
]

const skills = [
  {
    title:"Certifications",
    body:"Certified Ethical Hacker v12 - Jan 2024"
  },
  {
    title:"Programming Languages",
    body:"Python, HTML/CSS + JS, C/C++, Java, SQL"
  },
  {
    title:"Technologies",
    body:"Node.js, PostgresQL, SQL Server, Git, Linux, Shopify, .NET stack"
  },
  {
    title:"Languages",
    body:"English (native), Spanish (advanced), German (beginner)"
  }
]
---
<h2 class="font-serif text-3xl uppercase mb-5">Experience</h2>

<a href="/christopher-bohlman-resume.pdf" class="block w-fit text-center no-underline p-1 border rounded-md border-solid transition duration-300 ease-in-out">PDF available - written using LaTeX</a>

<h3 class="font-serif text-2xl font-semibold my-5">Education</h3>
<ul role="list" class="link-card-grid grid-cols-1 lg:grid-cols-3">
  <LinkCard
    title="BSc, Computer Science"
    subtitle="University of Arizona, '19"
    body="GPA: 3.729 (Magna Cum Laude)"
    body2="Minors: Mathematics, Physics"
  />
</ul>

<h3 class="font-serif text-2xl font-semibold my-5">Work Experience</h3>
<ul role="list" class="link-card-grid grid-cols-1 lg:grid-cols-3">
  {workExperience.map(element => <LinkCard title={element.title} subtitle={element.subtitle} body={element.body}/>)}
</ul>

<h3 class="font-serif text-2xl font-semibold my-5">Skills</h3>
<ul role="list" class="link-card-grid grid-cols-1 lg:grid-cols-3">
  {skills.map(element => <ListLinkCard title={element.title} body={element.body}/>)}
</ul>

<style>
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
</style>
