---
import Layout from "./Layout.astro";
import '../styles/global.css';
import '../styles/post.css'
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <main class="m-auto max-w-xl p-6">
    <p>{frontmatter.pubDate.slice(0,10)}</p>
    <h1 class='text-3xl capitalize pb-6'>{frontmatter.description}</h1>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <div class="tags">
      {frontmatter.tags.map((tag: unknown) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>

    <slot />
  </main>
</Layout>


<style>
  a {
    color: #ffffff;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #181F31;
  }

</style>
